[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cartdevopstraining.space:8080
Environment=DB_HOST=mysql.devopstraining.space
ExecStart=/bin/java -jar /app/shipping.sql
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target